doctype html
html
    head
        title= 'ssrs'
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    body
    a(href="http://ssrs.daiict.ac.in/") HomePage
    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    block content
